/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background: #110a47;
}
main {
    display: flex;
    flex-direction: column;
    height: 100svh;
    color: #f9f9f9;
    margin: 0 auto;
    transition: opacity 0.5s ease-in-out;
    max-width: 600px;
    background: linear-gradient(-45deg, #154265 0, #3a1a6b 100%);
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
header {
    flex-shrink: 0;
    background: rgba(52, 186, 186, 0.2);
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: relative;
}
.percent {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #25ff2857;
    transition: width 0.5s ease-in-out;
    z-index: 1;
}
header > div {
    z-index: 2;
}
h1 {
    font-size: 2rem;
    color: #0ad5c1;
}
#content {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}
form {
    display: flex;
    height: 2.5rem;
}
form > input {
    display: block;
    height: 100%;
    border-radius: 0%;
    border: none;
    padding: 0 1rem;
    outline: none;
    background-color: #00000020;
    color: #f9f9f9;
    transition: background-color 0.2s ease;
}
form > input:focus {
    background-color: #00000040;
}
form > input:hover {
    background-color: #00000030;
}
#msg {
    flex: 1 1;
    border-inline: 2px solid #00000020;
    width: 2rem;
}
#name {
    flex-grow: 0;
    width: 5rem;
}
.admin {
    margin-left: 0.5rem;
}

#status {
    display: inline-flex;
    align-items: center;
    margin: 0 0.5rem;
    color: #d58e0a;
}
#status::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #d58e0a;
    margin-right: 0.5rem;
}
#status.connected {
    color: #0ad5c1;
}
#status.connected::before {
    background-color: #0ad5c1;
}
#status.disconnected {
    color: #f50c0c;
}
#status.disconnected::before {
    background-color: #f50c0c;
}
.header div {
    display: flex;
    align-items: center;
}
.header {
    flex-grow: 1;
}
.admin {
    text-align: right;
}
.admin-hand {
    margin-left: 1rem;
}
.admin div:first-child {
    margin-bottom: 0.25rem;
}
.admin input {
    width: 5rem;
    margin-inline: 0.25rem;
}
.admin button,
.admin input {
    background: #ffffffb7;
    padding: 0.25rem;
    border: none;
    color: #000;
    cursor: pointer;
    outline: none;
    border-radius: 0.25rem;
}
.admin button:hover,
.admin input:hover {
    background: #f0f0f0d7;
}
.admin button:active,
.admin input:active {
    background: #fcfcfcd7;
}
#online {
    margin-left: 0.5rem;
}
.msg {
    margin-bottom: 0.5rem;
}
.name {
    color: #0ad5c1;
    font-weight: bold;
    margin-right: 0.5rem;
}
.link {
    opacity: 0.5;
}
.link ~ #open {
    top: 50%;
}
#open {
    position: fixed;
    transition: top 0.5s ease-in-out;
    z-index: 2;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    background: rgb(36, 108, 147);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f9f9f9;
    text-align: center;
}
#open p {
    margin-block: 0.25rem 1rem;
}
#open button {
    font-weight: bold;
    margin-left: 0.5rem;
    background: #d3d3d3;
    color: #000;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
#open button:hover {
    background: #c2c2c2;
}
#open button:active {
    background: #b1b1b1;
}
#hand,
#welcome {
    display: none;
}
#hand-label {
    background: rgb(112, 140, 227);
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}
#hand-label::after {
    content: "✋";
    font-size: 1.5rem;
}
#hand:checked ~ #hand-label {
    box-shadow: rgb(0, 255, 16) 0 0 0.5rem;
}
#welcome-toggle {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50vw - 300px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
}
#welcome-toggle::after {
    content: "+";
}
#welcome-toggle:hover {
    background: #ffffff17;
}

body:has(#welcome:checked) {
    display: flex;
}

body:has(#welcome:checked) #welcome-toggle {
    width: unset;
    height: unset;
    padding: 2rem;
}
body:has(#welcome:checked) #welcome-toggle::after {
    content: "×";
}

body:has(#welcome:checked) .welcome {
    display: flex;
}
h2{
    font-size: calc((50vw - 300px) / 10);
}
.welcome {
    display: none;
    flex-grow: 1;
    height: 100svh;
    background: linear-gradient(-45deg, #154265 0, #3a1a6b 100%);
    color:#FFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
