/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background: #000000;
}
main {
    display: flex;
    flex-direction: column;
    height: 100svh;
    color: #f9f9f9;
    margin: 0 auto;
    max-width: 600px;
    background: linear-gradient(-45deg, #154265 0, #3a1a6b 100%);
}
header {
    flex-shrink: 0;
    background: rgba(52, 186, 186, 0.2);
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}
h1 {
    font-size: 2rem;
    color: #0ad5c1;
}
#content {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}
form {
    display: flex;
    height: 2.5rem;
}
form > input {
    display: block;
    height: 100%;
    border-radius: 0%;
    border: none;
    padding: 0 1rem;
    outline: none;
    background-color: #00000020;
    color: #f9f9f9;
    transition: background-color 0.2s ease;
}
form > input:focus {
    background-color: #00000040;
}
form > input:hover {
    background-color: #00000030;
}
#msg {
    flex: 1 1;
    border-inline: 2px solid #00000020;
    width: 2rem;
}
#name {
    flex-grow: 0;
    width: 5rem;
}
.admin {
    margin-left:0.5rem;
}

#status {
    display: inline-flex;
    align-items: center;
    margin: 0 0.5rem;
    color: #d58e0a;
}
#status::before {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #d58e0a;
    margin-right: 0.5rem;
}
#status.connected {
    color: #0ad5c1;
}
#status.connected::before {
    background-color: #0ad5c1;
}
#status.disconnected {
    color: #f50c0c;
}
#status.disconnected::before {
    background-color: #f50c0c;
}
.header div {
    display: flex;
    align-items: center;
}
.header{
    flex-grow: 1;
}
.admin{
    text-align: right;
}
.admin div:first-child{
    margin-bottom: 0.25rem;
}
.admin input{
    width: 5rem;
    margin-inline: 0.25rem;
}
.admin button,.admin input{
    background: #ffffffb7;
    padding: 0.25rem;
    border: none;
    color: #000;
    cursor: pointer;
    outline: none;
    border-radius: .25rem;
}
#online {
    margin-left: 0.5rem;
}
.msg {
    margin-bottom: 0.5rem;
}
.name {
    color: #0ad5c1;
    font-weight: bold;
    margin-right: 0.5rem;
}
